<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3>LIST OF BOOKS</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IMAGE</th>
                        <th>TITLE</th>
                        <th>AUTHOR</th>
                        <th>GENRE</th>
                        <th>COST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachBook of allBooks">
                        <td>{{ eachBook.bookId }}</td>
                        <td><img [src]="eachBook.bookImageUrl" height="60px" width="100px" ></td>
                        <td>{{ eachBook.bookTitle }}</td>
                        <td>{{ eachBook.bookAuthor }}</td>
                        <td>{{ eachBook.bookGenre }}</td>
                        <td>{{ eachBook.bookCost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>

</div>


